.container {
    display: flex;
    width: 100vw;
    .panel {
        padding-left: 168px;
        width: 430px;
        height: 100vh;
        border-right: 1px solid rgb(239, 239, 239);

        .title {
            font-size: 25px;
            font-weight: 600;
            margin: 12px 0 36px 24px;
        }

        .item {
            width: 380px;
            height: 56px;
            padding: 8px 24px;
            border-bottom: 1px solid rgba(0, 0, 0, 0.4);
            display: flex;
            align-items: center;
            cursor: pointer;

            .itemRight {
                margin-left: 10px;

                .itemTime {
                    font-size: 10px;
                }
            }




        }

        .active {
            background-color: rgb(239, 239, 239);
        }

    }

    .messageDetail {
        flex-grow: 2;
        height: 100vh;
        z-index: 100;
        background-color: #fff;
        position: relative;
        .user{
            padding:    10px;
            border-bottom: 1px solid    rgb(219, 219, 219);
        }
        .msgList{
            height: 100%;
            overflow-y: auto;
            .msg{
                height: 50px;
                display: flex;
                align-items: center;
               
                .msgText{
                    display: inline-block;
                    width: auto;
                    height: 32px;
                    line-height: 32px;
                    background-color: rgb(55, 151, 240);
                    border-radius: 10px;
                    padding:0 20px ;
                    color: #fff;
                    margin: 10px;
                }
            }
            .my{
                flex-direction: row-reverse;
                justify-content: end;
            }
            .you{
                justify-content: start  ;
               

            }

            
        }
        .inputContainer{
            width: 100%;
            position: absolute;
            bottom: 20px;
            padding-top: 20px;
            border-top: 1px solid  rgb(219, 219, 219);
        }

    }
}