.re-user{
    position: relative;
    display: flex;
    justify-content: start;
    align-items: center;
    cursor: pointer;
  }
  .re-user .tx{
    width: 54px;
    height: 54px;
    overflow: hidden;
    border-radius: 50%;
    img{
        width: 100%;
    }
  }
  .re-user .nikname{
    text-align: left;
    margin-left: 4px;
  }
.re-user .btn{
    position: absolute;
    right: 0;
    font-size: 14px;
    font-weight: bold;
    color: rgb(0, 149, 246); 
}
.re-title{
    font-size: 15px;
    color: rgb(115, 115, 115);
    margin: 16px 0;
    display: flex;
    font-weight: bold;
    justify-content: space-between;
}
.recommend .re-user{
    margin-top: 10px;
}
.about{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 40px;
}
.about a{
    color: rgb(199, 199, 199);
    font-size: 10px;
    text-decoration: none;
}
.about a::after{
    color:  rgb(199, 199, 199);
}
.about a:active{
    color:  rgb(199, 199, 199);
}
.version{
    margin-top: 20px;
    color: rgb(199, 199, 199);
    font-size: 10px;
}
