.comment {
    display: flex;
    justify-content: start;
    align-items: center;
  }
  
  .comment input {
    width: 408px;
    border: none;
    outline: none;
    font-size: 15px;
  }
  
  .comment input:active {
    border: none;
  }
  
  .comment .ok-btn {
    color: rgb(0, 149, 246);
  }