
    .panel{
        padding-left: 168px;
        width: 400px;
        border-top-right-radius: 10px;
        .title{
            font-size: 25px;
            font-weight: 600;
            margin: 12px 0 36px 24px;
        }
        .item{
            padding-left: 10px;
            .actionType{
                margin: 10px;
                padding-left: 50px;
                .actionTime{
                    font-size: 12px;
                    color: #6aa8ef;
                }
            }
            .content{
                display: flex;
                width: 260px;
                margin-left: 50px;
                background-color: #f0f3f6;
                padding: 10px;
                border-radius: 4px;
                .contentText{
                    margin-left:10px;
                }
            }
        }
        
    }
