.avatar{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    .tx{
        width:54px;
        height: 54px;
        border: 2px solid #ffffff;
        border-radius: 50%;
        overflow: hidden;
        img{
           width: 100%; 
        }
    }
}
